# yage-manifests/testdata/postsyncdata.yaml.tmpl
cluster: {{ .Cfg.WorkloadClusterName }}
namespace: {{ .Namespace }}
storageClass: {{ .StorageClass }}
kubectlImage: {{ .KubectlImage }}
k8sVersionTag: {{ .K8sVersionTag }}
